.places {
  margin: 92px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 984px;
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: 928px;
    margin: 92px 148px 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px 0 0;
    max-width: 100%;
  }
}