.places {
margin: 92px 148px 0;
padding: 0;
display: flex;
flex-direction: column;
max-width: 984px;
}

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {
width: 928px;
padding-top: 92px;
margin: 0 auto;
}