.header {
  margin: 0 auto;
  max-width: 1184px;
  padding-top: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 720px;
    padding: 28px 24px 0 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    max-width: 288px;
    padding: 16px 16px 0 16px;
  }
}