.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
}