.lead__image {
  width: 984px;
  height: 615px;
  margin: 0 auto;
  padding: 0 148px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 928px;
    height: 580px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 768px;
    height: 480px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: 320px;
    height: 200px;
    padding-top: 40px;
  }
}