.lead__image {
  max-width: 984px;
  height: 615px;
  margin: 0 auto;
  padding: 64px 0 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    height: 580px;
    padding: 56px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    height: 480px;
    padding: 56px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    height: 200px;
    padding: 40px 0 0 0;
  }
}