.cover {
  background-image: url(../../images/cover-trains.jpg);
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1184px;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}