.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  max-width: 1184px;
  padding: 245px 0;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    max-width: 320px;
    max-height: 200px;
  }
  .cover__overlay:hover {
    max-width: 320px;
    max-height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 768px;
    max-height: 480px;
  }
  .cover__overlay:hover {
    max-width: 768px;
    max-height: 480px;
  }
}